.home {
    text-align:center;
}
.contact {
    padding-top:5vh;

}

/****************  photo and skill level *****************/
.profile {
    display:flex;
}
.profile > div {
    flex:1;
}
.skill-level h3 {
    text-align:center;
    color:#074054;
}
/****************  photo  *********************************/
.photo {
    display:flex;
    justify-content:center;
    align-items:center;
}
.img-wrap {
    text-align:center;
    border:0;
}
/* for firefox img */
.photo span:after {
    background-image: url('./profile.jpg');
    background-size:100%;
    height:250px;
    width:250px;
    content:'';
    display:inline-block;
    border:0;
}
.photo span {
    background-image: url('./profile.jpg');
    background-size:100%;
    height:250px;
    width:250px;
    display:inline-block;
    border:0;
}

/*****************  title  *********************************/
.home-title {
    text-align:center;
}   
.home-title p {
    color:#074054;
    font-size:12px;
}

/*****************  icons  *********************************/
.icons {
    padding:5vh;
    height: 30vh;
    display:flex;
    max-height:200px;
}

.icons div {
    cursor:pointer;
}

/************************  MOBILE VIEW  **********************/
@media only screen and (max-width:812px) {
    .profile {
        flex-direction:column-reverse;
        padding:4vh;
    }
    .skill-level {
        padding-top:5vh;
        margin:auto;
    }
    /*****************  icons  *********************************/
    .icons div {
        padding:5vh;
    }
    .li-icon img {
        content: url('./icons/liIcon.svg');
        height:10vh;
    }
    .gh-icon img {
        content: url('./icons/ghicon.svg');
        height:10vh;
    }
    .icons {
        justify-content:center;
    }
}

/*******************  DESKTOP VIEW  ************************/
@media only screen and (min-width:812px) {
    /*****************  icons  *********************************/
    .icons {
        justify-content:center;
        align-items:center;
    }
    .icons div {
        padding:2vh 5vh;
    }
    .li-icon img {
        content: url('./icons/liIcon.svg');
        height:15vh;
        max-height:100px;
    }
    .gh-icon img {
        content: url('./icons/ghicon.svg');
        height:15vh;
        max-height:100px;
    }
    /****************  photo and radar wrap *****************/
    .profile {
        max-height:400px;
        padding:8vh;
    }
}








