/* style for mobile and desktop */
.nav-wrapper {
    background-color:#074054;
}
.nav-bar {
    display:flex;
    justify-content:flex-end;
    background-color:#074054;
}

.links a {
    color:white;
    text-decoration:none;
}

.nav-bar > .links {
}


/* MOBILE VIEW */

@media only screen and (max-width:812px) {
    .nav-bar {
        padding:.5% 2%;
    }
    /* menu icon appears on mobile only */
    .menu-icon {
        cursor:pointer; 
    }
    .menu-icon img {
        content: url('./menu.svg');
        height: 8vh;
    }

    /* font size */
    a {
        font-size: calc(21px + 1vw);
    }
    .links {
        display:none;
        position:absolute;
        width:33%;
        flex-direction:column;
        text-align:center;
        top:9vh; 
        right:0;
        background-color:#074054;
        margin:0;
    }
    .links a {
        padding:2vh;

    }
}





/* DESKTOP VIEW */

@media only screen and (min-width:812px) {
    .links {
        width:25%;
        justify-content:space-around;
        display:flex;
    }
    /* font size */
    a {
        font-size: calc(21px + .4vw);
    }
    .nav-bar {
        padding:1.5% 0%;
    }
}











