/* style for mobile and desktop */
body {
    padding:0;
    margin:0;
}
.nav-bar {
    display:flex;
    justify-content:flex-end;
    padding:1% 2%;
    background-color:#074054;
}

.nav-bar > .menu-icon {

}


/* MOBILE VIEW */

.nav-bar > .links {
}
@media only screen and (max-width:812px) {
    .menu-icon {
        cursor:pointer; 
    }
    .menu-icon img {
        content: url('./menu.svg');
        height: 8vh;
    }
    .nav-bar > .links {
        display:none;
    }
}





/* DESKTOP VIEW */

@media only screen and (min-width:812px) {





}

