.projects-wrapper {
    padding-bottom:5vh;
}

.projects {
}
.project {
    display:flex;
    margin-bottom:5vh;
}
.project > div {
    padding:3vh;
}
.project-title {
    flex:1;
    color:#074054;
}
.project-descrip {
    flex:1;
}
.tech {
    display:flex;
    padding-bottom:2vh;
}
.tech div:nth-child(1) {
    flex:1;
}
.tech div:nth-child(2) {
    flex:3;
}
.tech p {
    margin:0;
}
.tech a {
    text-decoration:none;
    color:#074054;
}


/* DESKTOP VIEW */

@media only screen and (min-width:812px) {

    .proj-img img {
        width:100%;
    }
}


/* MOBILE VIEW */

@media only screen and (max-width:812px) {
    .projects {
        margin:5vh;
    }
    .project {
        flex-direction:column;
        border:1px groove #f1f1f1;
    }
    .project-descrip {
        margin:auto;
        width:70vw;
    }
}


@media only screen and (min-width:600px) and (max-width:812px) {
    .proj-img img {
        width:75%;
    }
}
@media only screen and (max-width:600px) {
    .proj-img img {
        width:100%;
    }
}


